.dashboard .dash-container{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #090912;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.visits, .unique-visits, .new-users{
    display: flex;
    justify-content: center;
    align-items: center;
}

.visits img, .unique-visits img, .new-users img{
    height: 50px;
}

.text{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.text h3{
    margin-bottom: 20px;
    border-bottom: 1px white solid;
}

.middlewares{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 10px 0;
    padding: 15px;
    border-bottom: 1px white solid;
}

.panels-config{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    color: white;
}

.option-config{
    border-top: 1px #1a1f29 solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 10px 0;
}

#option-diminuir{
    border-bottom: 1px #1a1f29 solid;
}

.option-config h2{
    font-size: 15px;
}

#v-g{
    background-color: #A4831D;
}

#uv-g{
    background-color: #0390dd;
}

#new-g{
    background-color: #266A1C;
}

.grafic-d{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.graf-text{
    display: flex;
    z-index: 3;
}

.grafic-d::before{
    content: "";
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.74);
    border-top-left-radius: 15%;
    height: 100%;
    width: 10%;
    top: 100%;
    left: 100%;
    transition: top 0.2s ease-in-out, left 0.2s ease-in-out, width 0.2s ease-in-out;
}

.grafic-d:hover::before{
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 0%;
}

.grafic-d:hover .text{
    color: #fd5624;
}


.grafic-d:hover .text h3{
    border-color: #fd5624;
}

.grafic-d.selected{
    
    background-color: white;
}

