
.insert {
    background-color: #141820;
    height: 70%;
    color: white;
    padding: 30px;
}

.insert h1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.tabs{
    width: 85%;
}

.chooses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin: 30px 0;
    border: 1px white solid;
}

.choose-insert-type{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.type{
    width: 100%;
    display: flex;
    margin: 32px 0;
}

.choose-insert-type button{
    width: 50%;
    height: 40px;
    border: none;
    background-color: #0f131b;
    box-shadow: 20px;
    color: white;
    cursor: pointer;
}

.choose-insert-type #film.active{
    background-color: #007bff;
}

.choose-insert-type #actor.active{
    background-color: #fd5624;
}

.choose-insert-mode{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toggle{
    width: 40px;
    height: 25px;
    background-color: #0f131b;
    position: relative;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}

.toggle::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    right: 0%;
    margin: 0 5px;
    transition: 0.3s ease-in-out;
}

.toggle.active{
    background-color: #fd5624;
}

.toggle.active::before{
    transform: translateX(-17px);
}

.film-manual-form{
    display: none;
}

.film-manual-form, .film-api-form, .actor-manual-form, .actor-api-form{
    width: 100%;
    padding: 30px;
    padding-left: 220px;
    height: 600px;
    overflow-y: scroll;
}

.actor-api-form{
    background-color: #586fb321;
    border-left: 5px #fd5624 solid;
}

.film-api-form{
    background-color: #586fb321 ;
    border-left: 5px #0066e6 solid;
}

.film-manual-form{
    background-color: #42526354;
    border-left: 5px #007bff solid;
}

.actor-manual-form{
    background-color: #ff5e5628;
    border-left: 5px #fd5624 solid;
}

.film-manual-form h2, .film-api-form h2, .actor-manual-form h2, .actor-api-form h2{
    margin-bottom: 30px;
}

.film-manual-form form, .film-api-form form, .actor-manual-form form, .actor-api-form form{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}

.film-manual-form form button, .film-api-form form button, .actor-manual-form form button, .actor-api-form form button{
    margin-top: 30px;
    width: 80%;
    margin-left: -1px;
}

.film-manual-form p{
    margin-top: 20px;
}

.film-manual-form input, .film-manual-form textarea, .film-api-form input, .actor-manual-form input, .actor-api-form input, .modal input, .most-especific-infos input, .most-especific-infos textarea{
    width: 80%;
    margin: 15px 0;
    border: 1px gray solid;
    background: transparent;
}

.geners, .diretores, .empresas, .paises, .streamings{
    margin-top: 10px;
    width: 82%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.geners p, .diretores p, .empresas p, .paises p, .streamings p, .custom-option p{
    cursor: pointer;
    width: 97%;
    padding: 15px;
    border: 1px white solid;
}

.opcoes {
    height: 300px;
    width: 97%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px rgb(107, 107, 107) solid;
    padding: 20px;
    transition: 0.4s ease-in-out;
    display: none;
}

.opcoes.actived{
    display: flex;
}

.geners .opcoes input, .diretores .opcoes input, .empresas .opcoes input, .paises .opcoes input, .streamings .opcoes input{
    display: none;
}

.geners .opcoes label, .diretores .opcoes label, .empresas .opcoes label, .paises .opcoes label, .streamings .opcoes label{
    width: 350px;
    border-radius: 10px;
    margin: 15px 30px;
    padding: 20px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    text-align: center;
}

.diretores .opcoes img, .empresas .opcoes img, .streamings .opcoes img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.diretores .opcoes label, .empresas .opcoes label, .streamings .opcoes label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.gener-sx{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 80%;
}

.gener-sx input{
    display: none;
}

.gener-sx label{
    width: 50%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.048);
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}

.gener-sx label img{
    height: 20px;
}

#br-label { background: linear-gradient(90deg, green 40%, yellow 40%, yellow 60%, blue 60%); }

#eua-label { background: linear-gradient(90deg, #b22234 33%, white 33%, white 66%, #3c3b6e 66%); color: red;}

#uk-label { background: linear-gradient(90deg, #00247d 33%, white 33%, white 66%, #cf142b 66%); color: yellow;}

#franca-label { background: linear-gradient(90deg, blue 33%, white 33%, white 66%, red 66%); color: red; }

#japao-label { background: white; color: red; border: 2px solid red;}

#india-label { background: linear-gradient(90deg, orange 33%, white 33%, white 66%, green 66%); color: #198754;}

#italia-label { background: linear-gradient(90deg, green 33%, white 33%, white 66%, red 66%); color: #13653f;}

#alemanha-label { background: linear-gradient(90deg, black 33%, red 33%, red 66%, yellow 66%); }

#espanha-label { background: linear-gradient(90deg, red 40%, yellow 40%, yellow 60%, red 60%);}

#coreia-label { background: white; color: black; border: 2px solid black; }

#china-label { background: red; color: yellow; }

#canada-label { background: linear-gradient(90deg, red 33%, white 33%, white 66%, red 66%); color: red;}

#russia-label { background: linear-gradient(90deg, white 33%, blue 33%, blue 66%, red 66%); }

#argentina-label { background: linear-gradient(90deg, lightblue 33%, white 33%, white 66%, lightblue 66%); color: yellow; }

#australia-label { background: darkblue; color: white;}

.json-viewer-container {
    margin: 50px 0;
    margin-left: -40px;
    background: #282c34;
    padding: 15px;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    color: #abb2bf;
    position: relative;
    width: 85%;
    overflow-x: auto;
    display: none;
}

.json-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 5px 10px;
    background: #1e2228;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.json-header-left{
    display: flex;
    align-items: center;
}

.json-header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.json-header-right button{
    margin: 0px 5px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px;
}

.json-header-right .pages{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.json-header-right p{
    margin-bottom: -2px;
    animation: none;
}

.json-header-right p.roll{
    animation: rollDown ease-in-out 0.05s;
}

@keyframes rollDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(10px);
        opacity: 0;
    }
    51% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.json-header-right img{
    height: 16px;
    cursor: pointer;
}

.upcreasePage{
    transform: rotateZ(180deg);
}

.json-header .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.json-header .red{ background: #ff5f56; }
.json-header .yellow { background: #ffbd2e; }
.json-header .green { background: #27c93f; }

.json-content {
    padding: 10px;
    background: #282c34;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.json-key { 
    color: #e06c75; 
    margin-left: 25px;
}  

.json-string { color: #98c379; }  
.json-number { color: #d19a66; }  
.json-boolean { color: #56b6c2; } 
.json-null { color: #c678dd; }  
.json-object { color: #61afef; }  

.btn-api{
    color: #fff;
    background-color: #7f6992;
    border-color: #7f6992;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-api:hover{
    background-color: #6f5b80;
    border-color: #6f5b80;
}

.choose-randoom-films{
    margin-bottom: 60px;
}

.choose-randoom-films form, .choose-unique-film form{
    margin-top: -15px;
}

.insert .tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}

.insert .tittle img{
    height: 20px;
    margin-top: -30px;
    margin-left: 15px;
    filter: grayscale(0.4);
}


.custom-option{
    width: 90%;
}

.modal{
    height: 300px;
    width: 97%;
    overflow-y: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1f27;
    margin: 0;
}

.modal p {
    margin: 0;
}

.modal input{
    display: block !important;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 10px 0;
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: white;
}

.custom-checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #141820;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}