.dashboard, .users, .insert, .content{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}

.dashboard .estatistics{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard .estatistics .visits, .dashboard .estatistics .unique-visits, .dashboard .estatistics .new-users{
    height: 100%;
    width: 400px;
    background-color: #141820;
}

.btn-danger {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
}

.btn-warning {
    color: #212529;
    padding: 0.375rem 0.75rem;
    background-color: #007BFF;
    border-color: #007BFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    cursor: pointer;
    
}

.btn-warning:hover{
    background-color: #0f549e;
    border-color: #0f549e;
}

.btn-warning:focus{
    box-shadow: 0 0 0 0.2rem rgba(12, 9, 1, 0.5);
}  

.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn-danger:focus{
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.btn-danger:active{
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
}

.btn-danger:disabled{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    opacity: 0.65;
}

.form-admin input, .film-manual-form input, .film-manual-form textarea, .geners .opcoes label, .film-api-form input , .actor-manual-form input, .modal input{
    padding: 10px;
    min-height: 60px;
    border: 1px solid #2a2f38;
    border-radius: 6px;
    font-size: 14px;
    background: #141820;
    color: #ffffff;
}

.btn-cadastro {
    background: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-cadastro:hover {
    background: #388E3C;
}

input[type="date"]::-webkit-calendar-picker-indicator  {
    filter: invert(100%) ;
}

.carregando{
    position: fixed;
    background-color: transparent;
    border: 8px #fd5624 solid;
    border-right: 8px transparent solid;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
    display: none;
    z-index: 999;
    top: 50%;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

label.actived{
    background-color: #42526354 !important;
}

.alert{
    position: fixed !important;
    z-index: 999;
    left: 20%;
}