header{
    width: 100vw;
    height: 70px;
    background-color: #141820;
    box-shadow: 40px black;
    position: fixed;
    z-index: 3;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
}

header img{
    height: 35px;
}

section{
    padding-top: 80px;
    padding-bottom: 20px;
}

.left-header, .right-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-header a{
    color: white;
}

.lines-container{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    height: 45px;
    width: 45px;
    background-color: #0f131b;
    border-radius: 30px;
    margin-left: 20px;
}

.lines-container .line{
    height: 1px;
    width: 32px;
    background-color: white;
    margin: 3px 0;
}

.menu{
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 92vh;
    width: 70px;
    position: absolute;
    z-index: 2 !important;
    left: 0%;
    top: 100%;
    background-color: #141820;
    color: white;
    transition: 0.2s ease-in;
    border-right: 1px gray solid;
}

.menu.active{
    left: 0%;
}

.menu p{
    margin-bottom: 30px;
}

.menu ul li img{
    height: 50px;
    background-color: #0f131b;
    border-radius: 30px;
    padding: 3px;
    margin-right: 10px;
    filter: brightness(1.5);
}

.menu ul li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 25px 0;
    cursor: pointer;
    border-left: 10px transparent solid;
    transition: 0.1s;
}

li.selected{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 10px #fd5624 solid !important;
    background-color:  rgba(0, 0, 0, 0.432);
    color: #fd5624;
}

.help-search {
    width: 400px;
    height: 40px;
    margin-right: 20px;
    background-color: #0f131b;
    outline: none;
    border: 1px rgba(255, 255, 255, 0.144) solid;
    padding-left: 35px;
    color: white;
}

.help-lupa{
    height: 20px;
    position: absolute;
    right: 34.3%;
    top: 35.3%;
}

#dash{
    filter: none;
}

.dashboard, .users, .insert{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}

.dashboard .estatistics{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard h1{
    margin-top: 200px;
    margin-bottom: 30px;
    color: white;
}

.dashboard .estatistics .visits, .dashboard .estatistics .unique-visits, .dashboard .estatistics .new-users{
    height: 100%;
    width: 400px;
    background-color: #141820;
}

.dashboard .calendar-container{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    padding: 20px;
    background-color: #141820;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 500px;
}

#calendar{
    position: relative;
    z-index: 1;
}

.visits, .unique-visits, .new-users{
    display: flex;
    justify-content: center;
    align-items: center;
}

.visits img, .unique-visits img, .new-users img{
    height: 40px;
}

.text{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text h3{
    color: #444546;
    margin-bottom: 20px;
}

.text p{
    color: white;
}

.fc {
    width: 90%;
    background-color: #222 !important;
    color: #fff !important;
}
  
.fc-toolbar-title {
    color: #fd5624 !important;
    font-size: 20px;
}

.fc-col-header-cell {
    background-color: #444 !important;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
}
  
.fc-daygrid-day-number {
    color: white !important;
    font-size: 16px;
    font-weight: bold;
}

.fc-daygrid-day-frame {
    border: 1px solid #666 !important;
}
  
.fc-daygrid-day {
    background-color: #333 !important;
}
  
.fc-day-other {
    background-color: #222 !important;
    color: #777 !important;
}
  
.top-calendar-container{
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.top-calendar-container h2{
    color: white;
}

.btn-cadastro {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-cadastro:hover {
    background-color: #157347;
    border-color: #146c43;
}

.btn-cadastro:active {
    background-color: #146c43;
    border-color: #13653f;
}

.btn-cadastro:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
  
.middlewares{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 50px;
    padding: 50px;
    border-bottom: 1px white solid;
}

.btn-danger {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
}

.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn-danger:focus, 
.btn-danger.focus {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.btn-danger:active, 
.btn-danger.active {
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
}

.btn-danger:disabled, 
.btn-danger.disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    opacity: 0.65;
}

.users, .insert{
    display: none;
}

.users, .film-manual-form, .film-api-form, .actor-manual-form , .actor-api-form{
    background: #141820;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.users h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

.table-container {
    width: 80%;
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1c2128;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background: #fd5624;
    color: white;
}

thead th {
    padding: 12px;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #2a2f38;
    transition: background 0.3s;
}

tbody tr:hover {
    background: #1a1f27;
}

tbody td {
    padding: 10px;
    text-align: center;
    color: #d1d5db;
}

.form-admin {
    background: #1c2128;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.form-admin h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.form-admin p, .insert p {
    font-size: 14px;
    color: #a8b3cf;
    margin-bottom: 15px;
}

.form-admin form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-admin input, .film-manual-form input, .film-manual-form textarea, .geners .opcoes label, .film-api-form input , .actor-manual-form input, .modal input{
    padding: 10px;
    min-height: 60px;
    border: 1px solid #2a2f38;
    border-radius: 6px;
    font-size: 14px;
    background: #141820;
    color: #ffffff;
}

.form-admin input::placeholder {
    color: #7a8598;
}

.btn-cadastro {
    background: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-cadastro:hover {
    background: #388E3C;
}

.insert {
    background-color: #141820;
    height: 70%;
    color: white;
    padding: 30px;
}

.insert h1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.tabs{
    width: 85%;
}

.chooses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin: 30px 0;
    border: 1px white solid;
}

.choose-insert-type{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.type{
    width: 100%;
    display: flex;
    margin: 32px 0;
}

.choose-insert-type button{
    width: 50%;
    height: 40px;
    border: none;
    background-color: #0f131b;
    box-shadow: 20px;
    color: white;
    cursor: pointer;
}

.choose-insert-type #film.active{
    background-color: #007bff;
}

.choose-insert-type #actor.active{
    background-color: #fd5624;
}

.choose-insert-mode{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toggle{
    width: 40px;
    height: 25px;
    background-color: #0f131b;
    position: relative;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}

.toggle::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    right: 0%;
    margin: 0 5px;
    transition: 0.3s ease-in-out;
}

.toggle.active{
    background-color: #fd5624;
}

.toggle.active::before{
    transform: translateX(-17px);
}

.film-manual-form{
    display: none;
}

.film-manual-form, .film-api-form, .actor-manual-form, .actor-api-form{
    width: 100%;
    padding: 30px;
    padding-left: 220px;
    height: 600px;
    overflow-y: scroll;
}

.actor-api-form{
    background-color: #586fb321;
    border-left: 5px #fd5624 solid;
}

.film-api-form{
    background-color: #586fb321 ;
    border-left: 5px #0066e6 solid;
}

.film-manual-form{
    background-color: #42526354;
    border-left: 5px #007bff solid;
}

.actor-manual-form{
    background-color: #ff5e5628;
    border-left: 5px #fd5624 solid;
}

.film-manual-form h2, .film-api-form h2, .actor-manual-form h2, .actor-api-form h2{
    margin-bottom: 30px;
}

.film-manual-form form, .film-api-form form, .actor-manual-form form, .actor-api-form form{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}

.film-manual-form form button, .film-api-form form button, .actor-manual-form form button, .actor-api-form form button{
    margin-top: 30px;
    width: 80%;
    margin-left: -1px;
}

.film-manual-form p{
    margin-top: 20px;
}

.film-manual-form input, .film-manual-form textarea, .film-api-form input, .actor-manual-form input, .actor-api-form input, .modal input{
    width: 80%;
    margin: 15px 0;
    border: 1px gray solid;
    background: transparent;
}

.geners, .diretores, .empresas, .paises, .streamings{
    margin-top: 10px;
    width: 82%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.geners p, .diretores p, .empresas p, .paises p, .streamings p, .custom-option p{
    cursor: pointer;
    width: 97%;
    padding: 15px;
    border: 1px white solid;
}

.opcoes {
    height: 300px;
    width: 97%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px rgb(107, 107, 107) solid;
    padding: 20px;
    transition: 0.3s ease-in-out;
    display: none;
}

.opcoes.actived{
    display: flex;
}

.geners .opcoes input, .diretores .opcoes input, .empresas .opcoes input, .paises .opcoes input, .streamings .opcoes input{
    display: none;
}

.geners .opcoes label, .diretores .opcoes label, .empresas .opcoes label, .paises .opcoes label, .streamings .opcoes label{
    width: 350px;
    border-radius: 10px;
    margin: 15px 30px;
    padding: 20px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    text-align: center;
}

.diretores .opcoes img, .empresas .opcoes img, .streamings .opcoes img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.diretores .opcoes label, .empresas .opcoes label, .streamings .opcoes label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

#br-label { background: linear-gradient(90deg, green 40%, yellow 40%, yellow 60%, blue 60%); }

#eua-label { background: linear-gradient(90deg, #b22234 33%, white 33%, white 66%, #3c3b6e 66%); color: red;}

#uk-label { background: linear-gradient(90deg, #00247d 33%, white 33%, white 66%, #cf142b 66%); color: yellow;}

#franca-label { background: linear-gradient(90deg, blue 33%, white 33%, white 66%, red 66%); color: red; }

#japao-label { background: white; color: red; border: 2px solid red;}

#india-label { background: linear-gradient(90deg, orange 33%, white 33%, white 66%, green 66%); color: #198754;}

#italia-label { background: linear-gradient(90deg, green 33%, white 33%, white 66%, red 66%); color: #13653f;}

#alemanha-label { background: linear-gradient(90deg, black 33%, red 33%, red 66%, yellow 66%); }

#espanha-label { background: linear-gradient(90deg, red 40%, yellow 40%, yellow 60%, red 60%);}

#coreia-label { background: white; color: black; border: 2px solid black; }

#china-label { background: red; color: yellow; }

#canada-label { background: linear-gradient(90deg, red 33%, white 33%, white 66%, red 66%); color: red;}

#russia-label { background: linear-gradient(90deg, white 33%, blue 33%, blue 66%, red 66%); }

#argentina-label { background: linear-gradient(90deg, lightblue 33%, white 33%, white 66%, lightblue 66%); color: yellow; }

#australia-label { background: darkblue; color: white;}

.json-viewer-container {
    margin: 50px 0;
    margin-left: -40px;
    background: #282c34;
    padding: 15px;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    color: #abb2bf;
    position: relative;
    width: 85%;
    overflow-x: auto;
    display: none;
}

.json-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 5px 10px;
    background: #1e2228;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.json-header-left{
    display: flex;
    align-items: center;
}

.json-header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.json-header-right button{
    margin: 0px 5px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px;
}

.json-header-right .pages{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.json-header-right p{
    margin-bottom: -2px;
    animation: none;
}

.json-header-right p.roll{
    animation: rollDown ease-in-out 0.05s;
}

@keyframes rollDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(10px);
        opacity: 0;
    }
    51% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.json-header-right img{
    height: 16px;
    cursor: pointer;
}

#upcreasePage{
    transform: rotateZ(180deg);
}

.json-header .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.json-header .red{ background: #ff5f56; }
.json-header .yellow { background: #ffbd2e; }
.json-header .green { background: #27c93f; }

.json-content {
    padding: 10px;
    background: #282c34;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.json-key { 
    color: #e06c75; 
    margin-left: 25px;
}  

.json-string { color: #98c379; }  
.json-number { color: #d19a66; }  
.json-boolean { color: #56b6c2; } 
.json-null { color: #c678dd; }  
.json-object { color: #61afef; }  

.btn-api{
    color: #fff;
    background-color: #7f6992;
    border-color: #7f6992;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-api:hover{
    background-color: #6f5b80;
    border-color: #6f5b80;
}

.choose-randoom-films{
    margin-bottom: 60px;
}

.choose-randoom-films form, .choose-unique-film form{
    margin-top: -15px;
}

.insert .tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}

.insert .tittle img{
    height: 20px;
    margin-top: -30px;
    margin-left: 15px;
    filter: grayscale(0.4);
}

input[type="date"]::-webkit-calendar-picker-indicator  {
    filter: invert(100%) ;
}

.custom-option{
    width: 90%;
}

.modal{
    height: 300px;
    width: 97%;
    overflow-y: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1f27;
    margin: 0;
}

.modal p {
    margin: 0;
}

.modal input{
    display: block !important;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 10px 0;
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: white;
}

.custom-checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #141820;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.carregando{
    position: absolute;
    background-color: transparent;
    border: 8px #fd5624 solid;
    border-right: 8px transparent solid;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
    display: none;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

